@* @model AppointmentSystem.Models.ViewModels.AppointmentModels.IndexVM *@

@{
    Layout = "~/Views/Shared/CustomerLayout.cshtml";
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<div class="container mt-5">
    驗證碼無效或已過期，請重新進行預約
</div>