@* @model AppointmentSystem.Models.ViewModels.AppointmentModels.IndexVM *@

@{
    Layout = "~/Views/Shared/CustomerLayout.cshtml";
    ViewData["Title"] = "首頁";
}

<style>
    .table td, .table th {
        border: none;
        /* vertical-align: top; */
        border-top: 0px solid #dee2e6;
        vertical-align: middle;
    }
</style>

<div class="overlay-container" style=" position: relative;display: inline-block;">
    <img id="desktopImage" src="~/images/CustomerIndexImage1.jpg" alt="Desktop Image" class="appointment-image desktop-image">
    <img id="mobileImage" src="~/images/CustomerIndexImage2.jpg" alt="Mobile Image" class="appointment-image mobile-image" style="height:25rem; width:auto; object-fit: cover;">

    <div class="overlay"
         style="position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0));
            z-index: 1;
            display: flex;
            justify-content: center;
            align-items: flex-end;
            color: #DCDCDC;
            font-weight:normal;
            font-size:16px;
            line-height: 1.8;
            margin-bottom:10px;
            letter-spacing: 2px;">



        <div class="container content mb-3">
            <span id="AppointmentIntroductionText"></span>
        </div>

    </div>
</div>

<div class="container content">
    <span id="AppointmentIntroductionText"></span>
</div>

<div class="appointment-table" style="width:95%;">
    <h5>已預約時段</h5>

    <table class="table table-bordered" style="font-size: 14px;">
        @if (ViewBag.Count > 0)
        {
            <thead>
                <tr style="font-size: 14px; white-space: nowrap;vertical-align: middle; ">
                    <th>日期</th>
                    <th>時間</th>
                    <th>醫師</th>
                    <th>療程項目</th>
                    <th>修改/取消</th>
                </tr>
            </thead>

            <tbody id="appointmentsTableBody" style="font-size: 14px; white-space: nowrap;vertical-align: middle; ">
                @*  @foreach (var item in Model.AppointmentData)
            {
            <tr>
            <td>@item.Date</td>
            <th>@item.BookingBeginTime</th>
            <td>@item.DoctorName</td>
            <td>
            <button type="button" class="btn btn-primary btn-sm details-btn" data-toggle="modal"
            data-target="#detailsModal" data-details='{"items": [{"name": "療程1", "description": "療程1介紹", "image": "path/to/image1.jpg"}, {"name": "療程2", "description": "療程2介紹", "image": "path/to/image2.jpg"}]}'>詳細</button>
            </td>

            <td><button class="btn btn-primary btn-sm">詳細</button></td>
            <td>
            <button class="btn btn-secondary btn-sm">修改</button>
            <button class="btn btn-danger btn-sm">取消</button>
            </td>
            </tr>
            } *@
            </tbody>
        }
        else
        {
            <tr>
                <th>開始預約</th>
            </tr>
        }
    </table>


    <button class="btn btn-primary" onclick="location.href='@Url.Action("Fillin", "Appointment")' " style="font-size: 14px; background-color:transparent; border:none;">
        <img id="desktopImage" src="/images/add_circle_16dp_049FBF_FILL0_wght400_GRAD0_opsz20.png" style="width:40px;height:40px ;" \>
    </button>
</div>

<!-- 療程項目簡介模態框 -->
<div class="modal fade" id="detailsModal" tabindex="-1" role="dialog" aria-labelledby="detailsModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="detailsModalLabel">療程項目詳細</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- 動態填充內容 -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">關閉</button>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        initData();

        $.ajax({
            url: '/Appointment/GetCustomerAppointmentData',
            method: 'GET',
            success: function (data) {
                console.log(data);

                var tableBody = $('#appointmentsTableBody');

                data.forEach(function (appointment) {
                    var treatmentDetails = JSON.stringify({ items: appointment.treatmentData });

                    var rowHtml = `
                        <tr>
                            <td>${appointment.date}</td>
                                <td>${appointment.bookingBeginTime}</td>
                                <td>${appointment.doctorName}</td>
                            <td>
                                <button type="button" class="btn btn-primary details-btn" data-toggle="modal" data-target="#detailsModal" data-details='${treatmentDetails}' style="font-size: 14px; background-color:transparent; border:none;">  <img id="desktopImage" src="/images/dataset_19dp_666666_FILL0_wght400_GRAD0_opsz20.png" style="width:25px;height:25px ;" \ ></button>
                            </td>
                            <td>
                                <button class="btn btn-secondary" onclick="editAppointment('`+ appointment.appointmentId + `' ) "  style="font-size: 14px; background-color:transparent; border:none;"><img id="desktopImage" src="/images/edit_square_16dp_666666_FILL0_wght400_GRAD0_opsz20.png" style="width:25px;height:25px ;" \ ></button>
                                <button class="btn btn-danger" onclick="cancelAppointment('`+ appointment.appointmentId + `')"  style="font-size: 14px; background-color:transparent; border:none;"><img id="desktopImage" src="/images/event_busy_16dp_666666_FILL0_wght400_GRAD0_opsz20.png" style="width:25px;height:25px ;" \ ></button>
                            </td>
                        </tr>
                    `;
                    tableBody.append(rowHtml);
                });

                $('.details-btn').click(function () {
                    var details = $(this).data('details');
                    var modalBody = $('#detailsModal .modal-body');
                    modalBody.empty();

                    details.items.forEach(function (item) {
                        var itemHtml = `
                            <div class="mb-3">
                                <h5>${item.treatmentName}</h5>
                                    <img src="${item.image}" alt="${item.treatmentName}" class="img-fluid">
                                <p>${item.introduction}</p>
                            </div>
                        `;
                        modalBody.append(itemHtml);
                    });
                });
            },
            error: function (error) {
                console.error('Error fetching appointments:', error);
            }
        });


        function initData() {
            setAppointmentIntroductionText();
            setAppointmentImage();
        }
    });

    function setAppointmentIntroductionText() {
        $.ajax({
            type: 'GET',
            url: '/Appointment/setAppointmentIntroductionText',
            datatype: "json",
            success: function (data) {
                $('#AppointmentIntroductionText').html(data);
            }
        });
    }

    function setAppointmentImage() {
        $.ajax({
            type: 'GET',
            url: '/Appointment/setAppointmentDesktopImage',
            datatype: "json",
            success: function (data) {
                if (data != null) {
                    // console.log(data);
                    $('#desktopImage').attr('src', data);
                }
            }
        });

        $.ajax({
            type: 'GET',
            url: '/Appointment/setAppointmentMobileImage',
            datatype: "json",
            success: function (data) {
                if (data != null) {
                    $('#mobileImage').attr('src', data);
                }
            }
        });
    }

    function editAppointment(appointmentId) {
        window.location.href = "/Appointment/Edit/" + appointmentId;
    }

    function cancelAppointment(appointmentId) {
        if (confirm("你確定要取消此次預約?")) {
            $.ajax({
                type: 'POST',
                url: '/Appointment/CancelAppointment',
                datatype: "json",
                data: { "AppointmentId": appointmentId },
                success: function (data) {
                    // $('#AppointmentIntroductionText').html(data);
                }
            });
        }
    }
</script>