@* @model AppointmentSystem.Models.ViewModels.AppointmentModels.IndexVM *@

@{
    Layout = "~/Views/Shared/CustomerLayout.cshtml";
    ViewData["Title"] = "首頁";

}
<style>
    .table td, .table th {
        border: none;
        /* vertical-align: top; */
        border-top: 0px solid #dee2e6;
        vertical-align: middle;
    }

    .overlay-container {
        width: 100%;
        position: relative;
        z-index: 1;
    }

    .appointment-wrapper {
        width: 100%;
        max-width: 100%;
        display: flex;
        justify-content: center;
        position: absolute;
        top: 20%;
        left: 0;
        height: 80%;
    }

    .appointment-table {
        width: 100%;
        margin: 0px !important;
        padding: 20px 5px;
        border-radius: 40px;
        z-index: 2;
        background: white;
        max-width: 100%;
        display: flex;
        flex-direction: column;
        align-items: start;
    }

    .AppointmentData {
        width: 100%;
        padding-left: 10%;
        padding-top: 15px;
        padding-bottom: 0%;
        display: flex;
        justify-content: flex-start;
        color: #000000;
    }


    .appointmentsTableBody {
        font-size: 14px;
        white-space: nowrap;
        vertical-align: middle;
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .appointmentDate {
        margin-left: 10%;
    }

    .Appointment_01 {
        margin: 3px;
        padding: 1px;
    }

    .appointmentItems {
        height: 71px;
        overflow-y: scroll;
    }

    .appointmentItem {
        background-color: #3B9382;
        padding: 1px;
        padding-left:5px;
        padding-right: 5px;
        border-radius: 30px;
        color: #D7F4EE;
        width: 90%;
        margin: 5px;
        font-size: 12px;
        display:flex;
        justify-content: center;
        align-items:center;
    }

    .appointmentDoctorName {
        margin: 3px;
        padding: 1px;
        margin-left: 5%;
    }

    .appointmentTimeBox {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .appointmentItems::-webkit-scrollbar {
        width: 0px;
        background: transparent;
    }

    body {
        background-color: white;
    }

    .appointmentDoctorImg {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    .appointmentDoctorImgDIV {
        background-color: #0E4F43;
        border-radius: 15px;
        height: 80px;
        width: 80px;
        overflow: hidden;
    }


    /* 畫面大於 530px 時，改變 top 為 25% */
    /*media (min-width: 530px) {
                .appointment-wrapper {
                    top: 25%;
                }
                }*/
</style>


<div class="overlay-container" style="width: 100%; position: relative; z-index: 1; ">
    <img id="desktopImage" src="~/images/EKMainBanner.jpg" alt="Desktop Image" class="appointment-image desktop-image" style="width: 100%;  height: auto;  max-height: 18rem;object-fit: cover;">
    <img id="mobileImage" src="~/images/EKMainBanner.jpg" alt="Mobile Image" class="appointment-image mobile-image" style=" width:auto; object-fit: cover;">
</div>


<div class="appointment-wrapper">
    <div class="appointment-table">
        <span style="font-weight:800;color:#0E4F43; padding-left:10%;padding-top:4%;padding-bottom:1%;">已預約時段</span>

        <table class="table table-bordered" style="border:none;font-size: 14px; margin: 15px 0px;">
            @if (ViewBag.Count > 0)
            {
                /* <thead style="border:none;border-radius:50%;">
                <tr style="font-size: 14px; white-space: nowrap;vertical-align: middle; ">
                <th>日期</th>
                <th>時間</th>
                <th>醫師</th>
                <th>療程項目</th>
                <th>修改/取消</th>
                </tr>
                </thead>*/

                <div id="appointmentsTableBody" class="appointmentsTableBody">
                    @*  @foreach (var item in Model.AppointmentData)
                {
                <tr>
                <td>@item.Date</td>
                <th>@item.BookingBeginTime</th>
                <td>@item.DoctorName</td>
                <td>
                <button type="button" class="btn btn-primary btn-sm details-btn" data-toggle="modal"
                data-target="#detailsModal" data-details='{"items": [{"name": "療程1", "description": "療程1介紹", "image": "path/to/image1.jpg"}, {"name": "療程2", "description": "療程2介紹", "image": "path/to/image2.jpg"}]}'>詳細</button>
                </td>

                <td><button class="btn btn-primary btn-sm">詳細</button></td>
                <td>
                <button class="btn btn-secondary btn-sm">修改</button>
                <button class="btn btn-danger btn-sm">取消</button>
                </td>
                </tr>
                } *@
                </div>
            }
            else
            {
                <tr>
                    <th>開始預約</th>
                </tr>
            }
        </table>


        <button class="btn btn-primary" onclick="location.href='@Url.Action("Fillin", "Appointment")' " style="font-size: 14px; background-color:transparent; border:none;margin-left: auto;margin-right: auto;">
            <img src="/images/add_circle_24dp_0E4F43_FILL0_wght400_GRAD0_opsz24.png" style="width:40px;height:40px ;" \>
        </button>
    </div>
</div>

<div class="modal fade" id="doctorModal" tabindex="-1" aria-labelledby="doctorModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style="border-radius:15px;">
            <div class="modal-header">
                <h5 class="modal-title" id="doctorModalLabel">醫師簡介</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="doctorImage"></div>
                <p id="doctorModalDescription"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">關閉</button>
            </div>
        </div>
    </div>
</div>

<!-- 療程項目簡介模態框 -->
@* <div class="modal fade" id="detailsModal" tabindex="-1" role="dialog" aria-labelledby="detailsModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="border-radius:15px;">
            <div class="modal-header">
                <h5 class="modal-title" id="detailsModalLabel">療程項目詳細</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- 動態填充內容 -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">關閉</button>
            </div>
        </div>
    </div>
</div> *@

<script>
    $(document).ready(function () {
        initData();

        $.ajax({
            url: '/Appointment/GetCustomerAppointmentData',
            method: 'GET',
            success: function (data) {
                console.log(data);

                var tableBody = $('#appointmentsTableBody');

                data.forEach(function (appointment) {
                    // var treatmentDetails = JSON.stringify({ items: appointment.treatmentData });

                    var rowHtml = ``;

                    rowHtml += `<div class="AppointmentData">`;

                    rowHtml += `<div class="selectable appointmentDoctorImgDIV" data-title="` + appointment.doctorData.doctorName + `" data-department="` + appointment.doctorData.departmentTitle + `" data-image="` + appointment.doctorData.image + `" data-description="` + appointment.doctorData.introduction + `">`;
                    rowHtml += `<img class="appointmentDoctorImg" src="` + appointment.doctorData.image + `" style="cursor:pointer;" data-toggle="modal" data-target="#doctorModal" />`;
                    rowHtml += `</div>`;

                    rowHtml += `<div style="display:flex; ;cursor:pointer;" onclick="editAppointment('` + appointment.appointmentId + `' )" >`;
                    rowHtml += `<div class="Appointment_01">`;
                    rowHtml += `<div class="appointmentDate">${appointment.date}</div>`;
                    rowHtml += `<div class="appointmentItems">`;

                    appointment.treatmentData.forEach(function (item) {
                        rowHtml += `<div class="appointmentItem">` + item.treatmentName + `</div>`;
                    });

                    rowHtml += `</div>`;
                    rowHtml += `</div>`;
                    rowHtml += `<div class="appointmentDoctorName">${appointment.doctorData.doctorName}</div>`;
                    rowHtml += `<div class="appointmentTimeBox">`;
                    rowHtml += `<div>${appointment.bookingBeginTime}</div>`;
                    rowHtml += `</div>`;

                    rowHtml += `</div>`;

                    rowHtml += `</div>`;
                    rowHtml += ``;




                    // < div >
                    // <button type="button" class="btn btn-primary details-btn" data - toggle="modal" data - target="#detailsModal" data - details='${treatmentDetails}' style = "display:none;font-size: 14px; background-color:transparent; border:none;" > <img id="desktopImage" src = "/images/dataset_19dp_666666_FILL0_wght400_GRAD0_opsz20.png" style = "width:25px;height:25px ;" \ > </button>
                    //     < /div>
                    //     < div >
                    //     <button class="btn btn-secondary" onclick = "editAppointment('`+ appointment.appointmentId + `' ) "  style = "display:none;font-size: 14px; background-color:transparent; border:none;" > <img id="desktopImage" src = "/images/edit_square_16dp_666666_FILL0_wght400_GRAD0_opsz20.png" style = "width:25px;height:25px ;" \ > </button>
                    //         < button class="btn btn-danger" onclick = "cancelAppointment('`+ appointment.appointmentId + `')"  style = "display:none;font-size: 14px; background-color:transparent; border:none;" > <img id="desktopImage" src = "/images/event_busy_16dp_666666_FILL0_wght400_GRAD0_opsz20.png" style = "width:25px;height:25px ;" \ > </button>
                    //             < /div>


                    tableBody.append(rowHtml);
                });

                $('.details-btn').click(function () {
                    var details = $(this).data('details');
                    var modalBody = $('#detailsModal .modal-body');
                    modalBody.empty();

                    details.items.forEach(function (item) {
                        var itemHtml = `
                                                        <div class="mb-3">
                                                                 <span style="font-weight:200;background-color:#528452;color:#ffffff;border-radius: 50px; padding-left:15px;padding-right:15px;padding-top:5px;padding-bottom:5px; margin:30%;">${item.treatmentName}</span>
                                                                    <img src="${item.image}" alt="${item.treatmentName}" class="img-fluid" style="width:50%;height:50%;border-radius:20px;margin:5%">
                                                            <p>${item.introduction}</p>
                                                        </div>
                                                    `;
                        modalBody.append(itemHtml);
                    });
                });
            },
            error: function (error) {
                console.error('Error fetching appointments:', error);
            }
        });

        $('#doctorModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            var title = button.closest('.selectable').data('title');
            var department = button.closest('.selectable').data('department');
            var description = button.closest('.selectable').data('description');
            var image = button.closest('.selectable').data('image');
            var modal = $(this);

            modal.find('.modal-title').text(title + '  ' + department);
            // modal.find('.modal-body #doctorModalTitle').text(title);
            modal.find('.modal-body #doctorModalDepartment').text(description);
            modal.find('.modal-body #doctorModalDescription').text(description);
            modal.find('.modal-body #doctorImage').html("<img src='" + image + "' alt='doctor' class='img-fluid'>");
        });

        function initData() {
            setAppointmentIntroductionText();
            setAppointmentImage();
        }
    });

    function setAppointmentIntroductionText() {
        $.ajax({
            type: 'GET',
            url: '/Appointment/setAppointmentIntroductionText',
            datatype: "json",
            success: function (data) {
                $('#AppointmentIntroductionText').html(data);
            }
        });
    }

    function setAppointmentImage() {
        $.ajax({
            type: 'GET',
            url: '/Appointment/setAppointmentDesktopImage',
            datatype: "json",
            success: function (data) {
                if (data != null) {
                    // console.log(data);
                    $('#desktopImage').attr('src', data);
                }
            }
        });

        $.ajax({
            type: 'GET',
            url: '/Appointment/setAppointmentMobileImage',
            datatype: "json",
            success: function (data) {
                if (data != null) {
                    $('#mobileImage').attr('src', data);
                }
            }
        });
    }

    function editAppointment(appointmentId) {
        window.location.href = "/Appointment/Edit/" + appointmentId;
    }

    function cancelAppointment(appointmentId) {
        if (confirm("你確定要取消此次預約?")) {
            $.ajax({
                type: 'POST',
                url: '/Appointment/CancelAppointment',
                datatype: "json",
                data: { "AppointmentId": appointmentId },
                success: function (data) {
                    location.reload();
                }
            });
        }
    }
</script>