@{
    ViewData["Title"] = "Login Page";
    Layout = "~/Views/Shared/CustomerLayout.cshtml";
}
<style>
    .loginbtn {
        cursor: pointer;
    }

        .loginbtn:hover {
            content: url("/images/btn_login_hover.png");
        }

        .loginbtn:active {
            content: url("/images/btn_login_press.png");
        }

    .login-wrapper {
        width: 100%;
        max-width: 100%;
        display: flex;
        justify-content: center;
        position: absolute;
        top: 20%;
        left: 0;
        height: 100%;
    }

    .login-table{
        width: 100%;
        margin: 0px !important;
        padding: 20px 5px;
        border-radius: 40px;
        z-index: 2;
        background: white;
        max-width: 100%;
        display: flex;
        flex-direction: column;
        align-items: start;
    }

    .inputcell{
        border-radius: 8px;
       
        border: 2px solid #0E4F43;
        margin:3%;
    }

    .lineinCELLandLINE{
        margin:2%;
    }

    .cellphoneTitle{
        margin:2%;
    }

    .cellbtn{
        background-color: #0E4F43;
        color: #D7F4EE;
        border-radius: 12px;
        margin:2%;
        font-size:12px;
        padding:8px;
        border:none;
    }

   .cellphoneInput{
        display:flex;
        width:95%;
   }

    .cellphoneDIV{
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items:center;
    }   
</style>

<!--新增區域開始-->
<div class="overlay-container" style=" width: 100%; position: relative; z-index: 1; ">
    <img id="desktopImage" src="~/images/EKMainBanner.jpg" alt="Desktop Image" class="appointment-image desktop-image" style="width: 100%;  height: auto;  max-height: 18rem;object-fit: cover;">
    <img id="mobileImage" src="~/images/EKMainBanner.jpg" alt="Mobile Image" class="appointment-image mobile-image" style=" width:auto; object-fit: cover;">

    <!-- <div class="overlay"
         style="position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0));
            z-index: 1;
            display: flex;
            justify-content: center;
            align-items: flex-end;
            color: #DCDCDC;
            font-weight:normal;
            font-size:16px;
            line-height: 1.8;
            margin-bottom:10px;
            letter-spacing: 2px;">

       

    </div>-->

</div>
<!--新增區域結束-->
<!--07061040修改區域-->
<div class="login-wrapper">
    <div class="login-table">
        <div class="container content  p-4">
            <span id="AppointmentIntroductionText"></span>
        </div>
<div class="row justify-content-center mb-1 mt-2 pr-0   " style="margin:auto;padding:0px">
            <div class="mx-4 col-12 col-sm-6 col-md-6 " style="display:flex;flex-direction: column; align-items:center; vertical-align: middle;">
        <div class="">
                    <p style="font-size:20px; color:#0E4F43 ;font-weight: 800;">線上預約</p>
            <!-- <h>線上預約</h>-->
        </div>
                <div style="display:flex;flex-direction: column; align-items:center; vertical-align: middle;padding:10px ">
                    <button id="line-login-btn" class="btn  btn-radius " onclick="showLineLoginBlock();" style="background-color:#0E4F43 ;color:#D7F4EE ;border-radius:15px; height:44px ; width:250px; padding:0px; border:0px; margin:0px;margin-top:0.1px;font-family: initial; font-size:16px; ">
                        Line登入預約
                    </button>
                    <div class="lineinCELLandLINE">
                        <span >或一般登入預約</span> 
                    </div>


                    <button class="" onclick="showPhoneLoginBlock();" style="background-color:#0E4F43 ;color:#D7F4EE ;border-radius:15px; height:44px ; width:250px; padding:0px; border:0px; margin:0px;margin-top:0.1px;font-family: initial; font-size:16px; ">
                        手機號碼預約
                    </button>
                   
            @* <button id="line-login-btn" class="btn  btn-radius " onclick="showLineLoginBlock();" style="padding:0px; border:0px; margin:0px ; font-family: initial;">
            @<img src="~/images/btn_login_base.png" alt="LoginBtn" />
            </button> *@
        </div>
                <div style="border-top: 2px solid #3B9382; width:100%; margin:3%;"> </div>
        <div class="col-11 col-sm-11 mt-4" id="LineLoginBlock" style="display:none ; justify-content:center; align-items:center;  height:150px; margin:auto; border-radius:12px;">
            <button id="line-login-btn" class="btn  btn-radius " onclick="LineLogin();" style="padding:0px; border:0px; margin:0px ; font-family: initial;">
                <img src="~/images/btn_login_base.png" alt="LoginBtn" />
            </button>
        </div>

         <div class="cellphoneDIV " id="PhoneLoginBlock" style="display:none ; ">
            <div>
                <div class="cellphoneTitle">
                <span >手機號碼</span>
                </div>
                <div class="cellphoneInput">
                <input type="text" id="cellphone" class="inputcell" />
                <input type="button" class="cellbtn" id="sendVerificationCodebtn" onclick="sendVerificationCode(this);" value="發送驗證碼" />
                </div>
            </div>
                    <div id="otpDiv" style="display:none;width:95%;margin-bottom:3%;">
                <input class="inputcell" type="hidden" id="hashCode" />
                <div class="cellphoneTitle">
                <span>驗證碼</span>
                </div>
                <input class="inputcell" inputcell type="text" id="otp" style="" />
            </div>

            <button class="cellbtn" id="phoneLoginbtn" style="display:none;background-color:#0E4F43 ;color:#D7F4EE ;border-radius:15px; height:44px ; width:250px; padding:0px; border:0px; margin:0px;margin-top:0.1px;font-family: initial; font-size:16px; " onclick="cellphoneLogin();">登入</button>

        </div>

    </div>
    <!--07061040修改區域結束-->
</div>
</div>
</div>

<script>
    $(document).ready(function () {
        initData();

        function initData() {
            $('#logout').hide();

            setAppointmentIntroductionText();
            setAppointmentImage();
        }
    });

    function LineLogin() {
        var client_id = '2005627882';
        var redirect_uri = encodeURIComponent('https://localhost:7146/Appointment/Redirect');
        var state = 'abcd'; // 用於防止 CSRF 攻擊
        var scope = 'profile openid';

        var loginUrl = `https://access.line.me/oauth2/v2.1/authorize?response_type=code&client_id=${client_id}&redirect_uri=${redirect_uri}&state=${state}&scope=${scope}`;
        window.location.href = loginUrl;
    }

    function setAppointmentIntroductionText() {
        $.ajax({
            type: 'GET',
            url: '/Appointment/setAppointmentIntroductionText',
            datatype: "json",
            success: function (data) {
                $('#AppointmentIntroductionText').html(data);
            }
        });
    }

    function setAppointmentImage() {
        $.ajax({
            type: 'GET',
            url: '/Appointment/setAppointmentDesktopImage',
            datatype: "json",
            success: function (data) {
                if (data != null) {
                    $('#desktopImage').attr('src', data);
                }
            }
        });

        $.ajax({
            type: 'GET',
            url: '/Appointment/setAppointmentMobileImage',
            datatype: "json",
            success: function (data) {
                if (data != null) {
                    $('#mobileImage').attr('src', data);
                }
            }
        });
    }

    function showLineLoginBlock() {
        $('#LineLoginBlock').show();
        $('#PhoneLoginBlock').hide();
        $('#phoneLoginbtn').hide();
        $('#otpDiv').hide();

        // document.getElementById('LineLoginBlock').style.display = 'flex';
    }

    function showPhoneLoginBlock() {
        $('#LineLoginBlock').hide();
        $('#PhoneLoginBlock').show();
        // document.getElementById('LineLoginBlock').style.display = 'flex';
    }

    function sendVerificationCode(obj) {
        let cellphone = $('#cellphone').val();
        let hashCode = $('#hashCode').val();

        if (cellphone != "") {
            $('#otpDiv').show();
            $('#phoneLoginbtn').show();
            // $("#cellphone").attr('disabled', 'disabled');

            $.ajax({
                type: 'POST',
                url: '/Appointment/sendVerificationCode',
                datatype: "json",
                data: { "cellphone": cellphone, "hashCode": hashCode },
                success: function (data) {
                    $('#hashCode').val(data);
                }
            });

            let countdown = 60;
            settime(obj, countdown);
        } else {
            alert('請輸入手機號碼');
        }
    }

    function settime(obj, countdown) {
        if (countdown == 0) {
            obj.removeAttribute("disabled");
            obj.value = "重新發送";
            return;
        } else {
            obj.setAttribute("disabled", true);
            obj.value = "重新發送(" + countdown + ")";
            countdown--;
        }

        setTimeout(function () {
            settime(obj, countdown);
        }, 1000)
    }

    function cellphoneLogin() {
        let cellphone = $('#cellphone').val();
        let hashCode = $('#hashCode').val();
        let otp = $('#otp').val();

        if (otp == "") {
            alert("請輸入驗證碼");
        } else if (cellphone == "") {
            alert("請輸入手機號碼");
        } else {
            window.location.href = "/Appointment/CellphoneLogin?cellphone=" + encodeURIComponent(cellphone) + "&hashCode=" + encodeURIComponent(hashCode) + "&otp=" + encodeURIComponent(otp);
        }
    }

</script>