@{
    ViewData["Title"] = "Login Page";
    Layout = "~/Views/Shared/CustomerLayout.cshtml";
}
<style>
    .loginbtn {
        cursor: pointer;
    }

        .loginbtn:hover {
            content: url("/images/btn_login_hover.png");
        }

        .loginbtn:active {
            content: url("/images/btn_login_press.png");
        }
</style>

<!--新增區域開始-->
<div class="overlay-container" style=" position: relative;display: inline-block;width: 100%;">
    <img id="desktopImage" src="~/images/EKMainBanner.jpg" alt="Desktop Image" class="appointment-image desktop-image" style="width: 100%;  height: auto;  max-height: 18rem;object-fit: cover;">
    <img id="mobileImage" src="~/images/EKMainBanner.jpg" alt="Mobile Image" class="appointment-image mobile-image" style="height:25rem; width:auto; object-fit: cover;">

    <div class="overlay"
         style="position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0));
            z-index: 1;
            display: flex;
            justify-content: center;
            align-items: flex-end;
            color: #DCDCDC;
            font-weight:normal;
            font-size:16px;
            line-height: 1.8;
            margin-bottom:10px;
            letter-spacing: 2px;">

        <div class="container content mb-3">
            <span id="AppointmentIntroductionText"></span>
        </div>

    </div>

</div>
<!--新增區域結束-->
<!--07061040修改區域-->
<div class="row justify-content-center mb-1 mt-2 pr-0   " style="margin:0px;padding:0px">
    <div class="mx-2 col-12 col-sm-6 col-md-6 m-3">
        <div class="mt-1 mb-4 ">
            <p style="font-size:20px; color:#202020 ;font-weight: normal;">線上預約</p>
            <!-- <h>線上預約</h>-->
        </div>
        <div style="display:flex; justify-content:center; align-items:center; ">
            <button class="mr-4" onclick="showPhoneLoginBlock();" style="background-color:#7B7B7B ;color:#ffffff ;border-radius:8px; height:44px ; width:151px; padding:0px; border:0px; margin:0px;margin-top:0.1px;font-family: initial; font-size:16px; ">
                手機號碼預約
            </button>
            <button id="line-login-btn" class="btn  btn-radius " onclick="showLineLoginBlock();" style="background-color:#7B7B7B ;color:#ffffff ;border-radius:8px; height:44px ; width:151px; padding:0px; border:0px; margin:0px;margin-top:0.1px;font-family: initial; font-size:16px; ">
                Line登入
            </button>
            @* <button id="line-login-btn" class="btn  btn-radius " onclick="showLineLoginBlock();" style="padding:0px; border:0px; margin:0px ; font-family: initial;">
            @<img src="~/images/btn_login_base.png" alt="LoginBtn" />
            </button> *@
        </div>

        <div class="col-11 col-sm-8 mt-4" id="LineLoginBlock" style="display:none ; justify-content:center; align-items:center; background: linear-gradient(to top, rgba(176, 176, 176, 1), rgba(176, 176, 176, 0.7)); height:150px; margin:auto; border-radius:12px;">
            <button id="line-login-btn" class="btn  btn-radius " onclick="LineLogin();" style="padding:0px; border:0px; margin:0px ; font-family: initial;">
                <img src="~/images/btn_login_base.png" alt="LoginBtn" />
            </button>
        </div>

        <div class="col-11 col-sm-8 mt-4" id="PhoneLoginBlock" style="display:none ; justify-content:center; align-items:center; background: linear-gradient(to top, rgba(176, 176, 176, 1), rgba(176, 176, 176, 0.7)); height:150px; margin:auto; border-radius:12px;">
            <div>
                <label for="cellphone">手機號碼</label>
                <input type="text" id="cellphone" />
                <input type="button" class="btn btn-primary" id="sendVerificationCodebtn" onclick="sendVerificationCode(this);" value="發送驗證碼" />
            </div>
            <div id="otpDiv" style="display:none;">
                <input type="hidden" id="hashCode" />
                <label for="otp">請輸入驗證碼</label>
                <input type="text" id="otp" />
            </div>
            <p></p>
            <button class="btn btn-primary" id="phoneLoginbtn" style="display:none;" onclick="cellphoneLogin();">登入</button>

        </div>

    </div>
    <!--07061040修改區域結束-->
</div>



<script>
    $(document).ready(function () {
        initData();

        function initData() {
            $('#logout').hide();

            setAppointmentIntroductionText();
            setAppointmentImage();
        }
    });

    function LineLogin() {
        var client_id = '2005627882';
        var redirect_uri = encodeURIComponent('https://localhost:7146/Appointment/Redirect');
        var state = 'abcd'; // 用於防止 CSRF 攻擊
        var scope = 'profile openid';

        var loginUrl = `https://access.line.me/oauth2/v2.1/authorize?response_type=code&client_id=${client_id}&redirect_uri=${redirect_uri}&state=${state}&scope=${scope}`;
        window.location.href = loginUrl;
    }

    function setAppointmentIntroductionText() {
        $.ajax({
            type: 'GET',
            url: '/Appointment/setAppointmentIntroductionText',
            datatype: "json",
            success: function (data) {
                $('#AppointmentIntroductionText').html(data);
            }
        });
    }

    function setAppointmentImage() {
        $.ajax({
            type: 'GET',
            url: '/Appointment/setAppointmentDesktopImage',
            datatype: "json",
            success: function (data) {
                if (data != null) {
                    $('#desktopImage').attr('src', data);
                }
            }
        });

        $.ajax({
            type: 'GET',
            url: '/Appointment/setAppointmentMobileImage',
            datatype: "json",
            success: function (data) {
                if (data != null) {
                    $('#mobileImage').attr('src', data);
                }
            }
        });
    }

    function showLineLoginBlock() {
        $('#LineLoginBlock').show();
        $('#PhoneLoginBlock').hide();
        $('#phoneLoginbtn').hide();
        $('#otpDiv').hide();

        // document.getElementById('LineLoginBlock').style.display = 'flex';
    }

    function showPhoneLoginBlock() {
        $('#LineLoginBlock').hide();
        $('#PhoneLoginBlock').show();
        // document.getElementById('LineLoginBlock').style.display = 'flex';
    }

    function sendVerificationCode(obj) {
        let cellphone = $('#cellphone').val();
        let hashCode = $('#hashCode').val();

        if (cellphone != "") {
            $('#otpDiv').show();
            $('#phoneLoginbtn').show();
            // $("#cellphone").attr('disabled', 'disabled');

            $.ajax({
                type: 'POST',
                url: '/Appointment/sendVerificationCode',
                datatype: "json",
                data: { "cellphone": cellphone, "hashCode": hashCode },
                success: function (data) {
                    $('#hashCode').val(data);
                }
            });

            let countdown = 5;
            settime(obj, countdown);
        } else {
            alert('請輸入手機號碼');
        }
    }

    function settime(obj, countdown) {
        if (countdown == 0) {
            obj.removeAttribute("disabled");
            obj.value = "重新發送";
            countdown = 60;
            return;
        } else {
            obj.setAttribute("disabled", true);
            obj.value = "重新發送(" + countdown + ")";
            countdown--;
        }

        setTimeout(function () {
            settime(obj, countdown);
        }, 1000)
    }

    function cellphoneLogin() {
        let cellphone = $('#cellphone').val();
        let hashCode = $('#hashCode').val();
        let otp = $('#otp').val();

        if (otp == "") {
            alert("請輸入驗證碼");
        } else if (cellphone == "") {
            alert("請輸入手機號碼");
        } else {
            window.location.href = "/Appointment/CellphoneLogin?cellphone=" + encodeURIComponent(cellphone) + "&hashCode=" + encodeURIComponent(hashCode) + "&otp=" + encodeURIComponent(otp);
        }
    }

</script>