@* @model AppointmentSystem.Models.ViewModels.AppointmentModels.IndexVM *@

@{
    Layout = "~/Views/Shared/CustomerLayout.cshtml";
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<div sstyle="height: 100%;
     margin: 0;
     display: flex;
     justify-content: center;
     align-items: center;">
    <div class="container mt-5">
        請至LINE收取驗證連結並於5分鐘內進行驗證
    </div>
</div>
