@* @model AppointmentSystem.Models.ViewModels.AppointmentModels.IndexVM *@

@{
    Layout = "~/Views/Shared/CustomerLayout.cshtml";
    ViewData["Title"] = "Home Page";
}
<style>


    .appointment-wrapper {
        width: 100%;
        max-width: 100%;
        display: flex;
        justify-content: center;
        position: absolute;
        top: 20%;
        left: 0;
        height: auto;
    }

    .appointment-table {
        width: 100%;
        margin: 0px !important;
        padding: 20px 5px;
        border-radius: 40px;
        z-index: 2;
        background: white;
        max-width: 100%;
        display: flex;
        flex-direction: column;
        align-items: start;
    }
</style>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<div class="overlay-container" style=" position: relative;">
    @*     <img id="desktopImage" src="~/images/CustomerIndexImage1.jpg" alt="Desktop Image" class="appointment-image desktop-image">
    <img id="mobileImage" src="~/images/CustomerIndexImage2.jpg" alt="Mobile Image" class="appointment-image mobile-image" style="height:25rem; width:auto; object-fit: cover;"> *@
    <img id="desktopImage" src="~/images/banner (2).png" alt="Desktop Image" class="appointment-image desktop-image" style="width: 100%;  height: auto;  max-height: 18rem;object-fit: cover;">
    <img id="mobileImage" src="~/images/banner (2).png" alt="Mobile Image" class="appointment-image mobile-image" style=" width:auto; object-fit: cover;">



</div>
<div class="appointment-wrapper">
    <div class="appointment-table">
<div style=" width:100%; display:flex;align-items:center;justify-content:center ;">
<div class="col-sm-10 col-lg-5" style="display:flex;align-items:center;justify-content:center ;">
       
        <img style="width:100%;height:auto ;border-radius:15px;" src="~/images/驗證碼.jpg"/>

    </div>
</div>
    </div>
</div>