@* @model AppointmentSystem.Models.ViewModels.AppointmentModels.IndexVM *@

@{
    Layout = "~/Views/Shared/CustomerLayout.cshtml";
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<div style=" width:100%; display:flex;align-items:center;justify-content:center ;">
<div class="col-sm-10 col-lg-5" style="display:flex;align-items:center;justify-content:center ;padding-top:150px;">
       
        <img style="width:100%;height:auto ;border-radius:15px;" src="~/images/驗證碼.jpg"/>

    </div>
</div>