html {
  font-size: 14px;
}

/* body {
  height: 100%;
  margin: 0;
} */

@media (min-width: 768px) {
  html {
    font-size: 14px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

.layout-header{
  padding-top: 1%;
  padding-bottom: 1%;
  width: 95%;
  max-width: 1180px;

}

.settings-icon {
  width: 24px;
  height: 24px;
}

.dropdown-function {
  display: none;
  position: absolute;
  top: 3.5em;
  right: 0;
  background-color: white;
  color: black;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  min-width: 180px;
  border-radius: 5px;

}

  .dropdown-function p {
      padding: 12px 16px;
      margin: 0;
      background-color: #F0F0F0;
  }

  .dropdown-function .function-div {
    font-size: 14px;
    color: #474141 ;
      padding: 12px 16px;
      margin: 0;
      cursor: pointer;
  }

/*  .dropdown-function .function-div:hover {
      background-color: #ddd;
  }*/

.main-content {
    flex: 1;
    /* padding: 20px; */
    padding-top: 3em; /* Offset for the fixed header */
    padding-bottom: 50px; /* Offset for the fixed footer */
    padding-right: 15px;
    padding-left: 15px;
    background-color: #f0f0f0;
    border-radius: 12px;
    margin-top: 90px;
    margin-right: auto;
    margin-left: auto;
    width: 95%;
    max-width: 1180px;
    /* max-width: 1440px; */
    min-height: 100%;
}

.header-toolbar {
  display: flex;
  align-items: center;
  position: relative;
  background-color: #B4B1B1;
  padding: 10px;
  border-radius: 10px;
  color: white;
  border: none;
}

  .header-toolbar span {
      margin-right: 10px;
      font-size: 14px;
  }

.main-content .content-Title{
  border-radius: 10px;
  border-color: #f0f1f5;
  position: relative;
  background: #F7F7F7;
  padding: 1rem 1.875rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* color: #cee5e3; */
  color: #000;
}

/* .main-content .content-Title h3{
  display: inline-block !important;
  vertical-align: middle !important;
} */

.main-content .content-taskbar{
  border-radius: 10px;
  border-color: #f0f1f5;
  position: relative;
  background: #FFF;
  padding: 1rem 1.875rem 1rem;
  display: flex;
  align-items: center;
  /* color: #cee5e3; */
  color: #000;
  align-items: left;
}

.main-content .content-taskbar .btn-area{
  margin-right: 10px;
}

.main-content .content-taskbar .btn-area .btn{
  width: 120%;
}

.main-content .sidebar {
  border-radius: 10px;
  background-color: #B3B3B3;
  padding: 20px;
  min-height: 100%;
  margin-right: 2%;
}

.content-div{
    min-height: 100%;
    
  }

.main-content .right-panel {
  border-radius: 10px;
  background-color: #fff;
  padding: 20px;
  min-height: 100%;
}

.main-content .sidebar .input-group {
  margin-bottom: 15px;
}

.main-content .sidebar .input-group .form-control {
  border-radius: 10px;
}

.icon-button {
  background: none;
  border: none;
  font-size: 12px;
  color: #000;
  cursor: pointer;
}

.customer-content {
    flex: 1;
    /* padding: 20px; */
    padding-top: 70px; /* Offset for the fixed header */
    padding-bottom: 50px; /* Offset for the fixed footer */
    padding-right: 15px;
    padding-left: 15px;
    background-color: #f0f0f0;
    border-radius: 10px;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    max-width: 1600px;
    min-height: 100%;
}

.appointment-image{
    max-width: 100%;
    max-height: 100%;
    /* width: auto;
    max-height: 300px; */
    display: none;
    margin: 0 auto;
}

    /* 電腦版圖片 */
    @media (min-width: 768px) {
        .desktop-image {
          display: block;
        }
      }
  
      /* 手機版圖片 */
      @media (max-width: 767px) {
        .mobile-image {
          display: block;
        }
      }

.appointment-table {
    margin: 20px auto;
    width: 80%;
    max-width: 600px;
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 10px;
}

    .add-labelitem {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-color: #4CAF50;
        color: white;
        border: none;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .add-labelitem:hover {
        background-color: #45a049;
    }


    /* .add-sidebaritem {
      background-color: #ffffff;
      color: #5e1a1a;
      border: none;
      border-radius: 50%;
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 24px;
  } */

  .treatment-item{
    height: 32px ;
  }