<!DOCTYPE html>

<html lang="zh-Hant-TW">

<style>
    .header {
        padding: 0px !important;
        height:70px !important;
    }

</style>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>@ViewData["Title"] - EK預約系統</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

    <link rel="stylesheet" href="~/css/ekstyle.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/appointmentsystem.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/bootstrap.min.css" asp-append-version="true">

    <script src="~/js/jquery-3.5.1.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/sweetalert2.min.js"></script>
</head>

<body>
    <header class="header bg-white fixed-top">
        <div style="width:100%;display: flex; justify-content: center;">
            <div class="d-flex justify-content-between align-items-center layout-header">
                <a title="回首頁" asp-controller="Home" asp-action="index">
                    <img src="~/images/logo_b.png" style="height:3em;width:auto;" />
                </a>

                <button class="header-toolbar d-flex align-items-center">
                    <div class="d-flex flex-column">
                        <span id="header-username">目前使用者: </span>
                        <span id="header-rolename"></span>
                    </div>
                    

                    <img src="~/images/menu.png" class="settings-icon ml-3" />
                    <div class="dropdown-function bg-white shadow p-3">
                        @await Component.InvokeAsync("Navigation")
                    </div>
                </button>
            </div>
        </div>
    </header>

    <div class="content main-content text-center">
        @RenderBody()
    </div>

    <footer class="footer bg-light fixed-bottom">
        <div class="container text-right">
            @* <span>鯨明科技有限公司 Copyright © 2024 All Rights Reserved</span> *@
        </div>
    </footer>

    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>

<script type="text/javascript">

    $(document).ready(function () {
        init();
        function init() {
            setHeaderUserName();
        }
    });

    document.addEventListener('DOMContentLoaded', function () {
        const toolbar = document.querySelector('.header-toolbar');
        const dropdown = document.querySelector('.dropdown-function');

        toolbar.addEventListener('click', function () {
            dropdown.style.display = dropdown.style.display === 'block' ? 'none' : 'block';
        });

        window.addEventListener('click', function (event) {
            if (!toolbar.contains(event.target)) {
                dropdown.style.display = 'none';
            }
        });
    });

    function setHeaderUserName() {
        $.ajax({
            type: 'POST',
            url: '/Home/setHeaderUserName',
            datatype: "json",
            success: function (data) {
                $('#header-username').html("目前使用者:" + data.username);
                $('#header-rolename').html(data.rolename);
            }
        });
    }
</script>


