<!DOCTYPE html>

<html class="text-center">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>EK美學診所預約系統</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/bootstrap.min.css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/ekstyle.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/appointmentsystem.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/layout.css" asp-append-version="true" />

    <script src="~/js/jquery-3.5.1.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @* <script src="~/js/script.js"></script> *@
    <script src="~/js/sweetalert2.min.js"></script>

    <!--load all styles -->
    @*
    <!--自訂CSS-->
    <link rel="stylesheet" href="~/css/rwd.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/sweetalert2.css" asp-append-version="true" /> *@
    <style>

    </style>
</head>
<body class="index">
    <header class="header fixed-top" style="background: linear-gradient(to bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0)) ;width:100%; padding-right:0px;">
        <!--style="background: linear-gradient(to bottom, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0));width:100%; padding-right:0px; "-->
        <div class="container d-flex justify-content-between align-items-center" style="padding-left:0px">
            <!--style="padding-left:0px"-->
            <a title="回首頁" asp-controller="Appointment" asp-action="index">
                <img src="~/images/logo_b.png" style="height:3em;width:auto; margin-top:10px; padding-left:0px;" />
                <!--margin-top:10px; padding-left:0px;-->
            </a>

            <a asp-area="" asp-controller="Appointment" asp-action="Logout" style="width:15%; display:flex ; justify-content: flex-end; margin-right:10px;">
                <!--style="width:15%; display:flex ; justify-content: flex-end; margin-right:10px;"-->
                <button class="header-toolbar d-flex align-items-center" style="border:none; font-size:14px  ;padding:5pt; height: 28px;">
                    <!--style="border:none; font-size:14px  ;padding:5pt; height: 28px;-->
                    登出
                </button>
            </a>
        </div>

    </header>

    <div class="content  customer-content text-center" style=" max-width:none;padding-bottom:100px; margin:0px; background-color:transparent; padding-left:0px; padding-right:0px;padding-top:0px">
        <!--07061041  style="padding:0px; margin:0px; background-color:transparent;"-->
        @RenderBody()
    </div>



    <footer class="footer bg-light fixed-bottom">
        <div class="container text-center">
            <span>鯨明科技有限公司 Copyright © 2024 All Rights Reserved</span>
        </div>
    </footer>




    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
