@model AppointmentSystem.Models.ViewModels.SystemModels.UserCreateVM
@{
    ViewData["Title"] = "人員新增";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card whiteBG mb-4 pattern-F colorset_B">
    <div class="card-header">
        <h3 class="card-title font-weight-bold">@ViewData["Title"]</h3>
    </div>

    <div class="card whiteBG pattern-F colorset_3">
        <div class="card-body">
            <div class="table-responsive" style="overflow-x: unset;">
                <table class="table table-responsive-md table-hover table2 VA-middle">
                    <div class="container">
                        <div class="row justify-content-left">
                            <div class="col-2">
                                <button role="button" class="btn btn-shadow btn-block btn-color11-o" style="background-color:#97dded" onclick="location.href='@Url.Action("UserIndex", "System")'">回上頁</button>
                            </div>
                        </div>
                    </div>
                </table>
            </div>
        </div>
    </div>

    <form method="post" asp-action="UserCreate">
        <div class="card whiteBG mb-4 pattern-F colorset_3">
            <div class="card-body">
                <div class="table-responsive" style="overflow-x: unset;">
                    <table class="table table-responsive-md table-hover table2 VA-middle">
                        <div class="table-responsive">
                            <table class="table table-hover" id="addnew" table-layout: fixed;>
                                <colgroup>
                                    <col width="30%">
                                    <col width="10%">
                                    <col width="30%">
                                    <col width="30%">
                                </colgroup>
                                <tbody>
                                    <tr>
                                        <td></td>
                                        <td>姓名</td>
                                        <td>
                                            <input type="text" style="width:100%;" asp-for="UserName" required="">
                                        </td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>英文姓名</td>
                                        <td>
                                            <input type="text" style="width:100%;" asp-for="UserNameEnglish">
                                        </td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>性別</td>
                                        <td>
                                            @Html.DropDownListFor(m=>m.Gender, Model.GenderList , new { @class = "form-control", @required=""})
                                        </td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>生日</td>
                                        <td>
                                            <input type="date" style="width:100%;" id="Birthday" asp-for="Birthday">
                                        </td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>住址</td>
                                        <td>
                                            <input type="text" style="width:100%;" asp-for="Address">
                                        </td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>Email</td>
                                        <td>
                                            <input type="text" style="width:100%;" asp-for="UserEmail" required="">
                                        </td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>連絡電話</td>
                                        <td>
                                            <input type="text" style="width:100%;" asp-for="Telphone" required="">
                                        </td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>權限名稱</td>
                                        <td>
                                            @Html.DropDownListFor(m=>m.RoleId, Model.RoleList , new { @class = "form-control", @required=""})
                                        </td>
                                        <td></td>
                                    </tr>
                                    <!--
                                    <tr>
                                        <td></td>
                                        <td>排序</td>
                                        <td><input type="number" style="width:100%;" asp-for="Sort" required=""></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>備註</td>
                                        <td><input type="text" style="width:100%;" asp-for="Memo"></td>
                                        <td></td>
                                    </tr>
                                    
                                    <tr>
                                        <td></td>
                                        <td>是否啟用</td>
                                        <td>
                                            <select class="form-control">
                                                <option>是</option>
                                                <option>否</option>
                                            </select>
                                        </td>
                                        <td></td>
                                    </tr>
                                    -->
                                </tbody>
                            </table>
                            <br>
                            <div class="container">
                                <div class="row">
                                    <div class="col">
                                    </div>
                                    <div class="col">
                                        <input type="submit" class="btn btn-shadow btn-color11-3 btn-block" value="儲存">
                                    </div>
                                    <div class="col">
                                    </div>
                                </div>
                            </div>

                        </div>

                    </table>
                </div>
            </div>
        </div>
    </form>

</div>

@section scripts {
    <script src="~/assets/js/date.format.js"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/datatables/js/jquery.dataTables.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

    <script type="text/javascript">
        // document.getElementById('Birthday').value = new Date().toISOString().substring(0, 10);
    </script>
}